<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.css">

    <title>Библиотека дедушки</title>
    <link rel="icon" type="image/x-icon" href="../static/lg.png">

  </head>
  <body>
    <div class="container" style="margin-top: 2em; width: 64em">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" style="margin-bottom: 2em;">
          {% if page_num == 1 %}
            <li class="page-item disabled">
              <span class="page-link">Назад</span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{ page_num - 1 }}.html">Назад</a></li>
          {% endif %}
          {% for num in range(1, num_of_pages + 1) %}
            {% if num == page_num %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">
                  {{ num }}
                  <span class="sr-only">(current)</span>
                </span>
              </li> 
            {% else %}
              <li class="page-item"><a class="page-link" href="../pages/index{{ num }}.html">{{ num }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_num == num_of_pages%}
            <li class="page-item disabled">
              <span class="page-link">Вперёд</span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{ page_num + 1 }}.html">Вперёд</a></li>
          {% endif %}
          </ul>
      </nav>
      <div class ="row" style="width: 64em">
        {% for column in columned_library_page %}
          <div class="col">
            {% for book in column %}
              <div class="card mb-3" style="width: 30em; height: 18em;">
                <div class="row no-gutters">
                  <div class="col-md-5">
                    {% if book.img_src %}
                      <img src="../{{ book.img_src|urlencode }}" class="card-img" alt="{{ book.title|e }}" style="height: 18em">
                    {% else %}
                      <img src="../{{ no_pic }}" class="card-img" alt="{{ book.title|e }}" style="height: 18em">
                    {% endif %}
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">{{ book.title|e }}</h5>
                      <p class="card-author">{{ book.author|e }}</p>
                      <p class="card-link"><a href="../{{ book.book_path|urlencode }}" style="color: #3C53FD ; font-size: 18px" target="_blank" rel="noopener noreferrer">Читать</a></p>
                      {% for genre in book.genres %}
                      <span class="badge badge-pill badge-light">{{ genre }}</span>
                      {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
        </div>
        </div>

    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

  </body>
</html>
